<div class="stats-container">
  <div id="wrap-stats">
    <!-- Stats Table-->
    <div class="stats-table">
	    <h2>Most Used Kanmusu</h2>
	    <table class="usage-stats" id="world_1_1_usage">
	  	<tr>
            <th>
                Rating
            </th>
	  		<th>
	  			Ship Name
	  		</th>
	  		<th>
	  			Ship Class
	  		</th>
	  	</tr>
	  	{% for data, i in i %}
	  	<tr>
            <td>
                {{ i }}
            </td>
	  		<td>
	  			{{ data[0] }}
	  		</td>
	  		<td>
	  			{{ data[1] }}
	  		</td>
	  	</tr>
	  	{% endfor %}
	  	</table>
		</div>
  </div>
</div>

<!-- Some Javascript to generate our table by getting ships and usage for some map-->
