<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <header>
    <strong><nav>
      <ul>
        <li><a class="active" href="{{ url_for('submitted_form') }">Home</a></li>
        <li><a href="{{ url_for('submitted_form') }">Maps</a></li>
        <li><a href="{{ url_for('submitted_form') }">Event</a></li>
        <li><a href="{{ url_for('submitted_form') }">Planner</a></li>
        <li><a hreft="{{ url_for('submitted_form') }">Login</a></li>
      </ul>
    </nav></strong>
  </header>
</body>
</html>
