<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<header>
  <div class="div-logo">
    <img class="img-logo" src="{{url_for('static', filename='logo.png')}}">
  </div>
</header>
  <body class ="body">
      <nav class="navbar" role="navigation">
          <div class="navbars-container">
            <a class="nav-home" href="/"><img class="img-logo" src="{{url_for('static', filename='logo-thumbnail.png')}}" style="width:70px;height:50px;"></a>
              <ul class="navbars-list">
                  <li><a onclick="myFunction()" class="dropbtn">Maps</a></li>
                      <div id="myDropdown" class="dropdown-content">
                        <a href="#">Map 1</a>
                        <a href="#">Map 2</a>
                        <a href="#">Map 3</a>
                        <a href="#">Map 4</a>
                        <a href="#">Map 5</a>
                      </div>
                  <li><a href="{{ url_for('form') }}">Event Maps</a></li>
                  <li><a href="/form">Event Planner</a></li>
                  <li><a href="/form">Forum</a></li>
                  <li style="float:right"><a class="acitve" href="/form">Login</a></li>
              </ul>
          </div>
          </div>
      </nav>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>
<body>
    {% block content %}
    {% endblock %}

</body>
</html>
